body {
  background-image: url("../images/background.jpg");
  background-size: cover;
}
#title {
  text-align: center;
  text-shadow: 2px 2px 8px #FF0000;
  color: white;
  font-size: 48px;
  font-weight: 800;
}
